.slider {
    flex: 1 1 auto;
    width: 88%;
    margin: 5px 0;
    -webkit-appearance: none;
    appearance: none;
    background: #d3d3d3; /* Grey background */
    height: 3px;
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
  }